section {
    background-color: #C7BD8B;
    margin: 50px;
    padding: 40px;
    border-radius: 25px;
  }

  @media only screen and (max-width: 400px) {
    section {
        margin: 15px;
        padding: 15px;
    }
  }